*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper
{
    width: 80%;
    min-height: 600px;
    /* border: 2px solid #000; */
    margin: auto;
    margin-top: 70px;
    display: flex;
}
body
{
   background-image: url(https://cdn.pixabay.com/photo/2019/11/19/02/05/seascape-4636264_1280.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.main-header-div
{
    width: 40%;
    height: 600px;
    /* border: 2px solid #000; */
    background-color: white;
   
}
.loginpage
{
    width: 80%;
    height: 500px;
    /* border: 2px solid blueviolet; */
    margin-top: 40px;
    margin-left: 55px;
}
.loginpage h1
{
    margin-left: 30px;
    margin-top: 20px;
}
.loginpage p
{
    margin-left: 30px;
}
.main-header-div1
{
    width:60%;
    height: 600px;
    /* border: 2px solid red; */
}
.input 
{
    margin-left: 30px;
    margin-top: 20px;
}
.inp1 input
{
    margin-top: 5px;
    padding: 10px;
    width: 350px;
    margin-left: 30px;
    border-radius: 10px;
}
.input2 
{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
}
.input2 a
{
    margin-left: 160px;
}
.inp2 input
{
    margin-top: 5px;
    padding: 10px;
    width: 350px;
    margin-left: 30px;
    border-radius: 10px;
}
.checkbox
{
    margin-top: 10px;
    margin-left: 30px;
}
.button button
{
    width: 350px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}
.button button:hover
{
    cursor: pointer;
}
.middlepart h3
{
    margin-top: 20px;
    margin-left: 30px;
    color:rgb(192, 169, 139);
}
.footer
{
    display: flex;
}
.btn 
{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 40px;
     margin-left: 30px;
     margin-top: 20px;
}
.btn  a
{
    border: 1px solid #e70808;
    padding: 10px;
    width: 130px;
    margin-right: 40px;
    color: #e70808;
    text-decoration: none;
    border-radius: 10px;
}
.btn1
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.btn1 a
{
    border: 1px solid #e70808;
    padding: 10px;
    width: 130px;
    color: #5208e7;
    text-decoration: none;
    margin-left: 45px;
    border-radius: 10px; 
}
.main-header-div1 img
{
    width: 100%;
    height: 600px;
}